@font-face {
    font-family: 'harry_pregular';
    src: url('harryp__-webfont.woff2') format('woff2'),
         url('harryp__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lumos';
    src: url('Lumos.woff2') format('woff2'),
        url('Lumos.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
	height: 100%;
	background-image: url("../images/parchment_background.jpg");
    background-size: cover;
}

h1, h2, h3, h4, h5, h6{
	font-family: "harry_pregular";
	text-align: center;
}

h1{
	font-size: 10vw;
}

p{
	font-family: "Lumos";
	font-size: 2.5vw;
}

div{
	overflow: auto;
    text-align: center;
    word-wrap: break-word;
}

.main{
    align-content: center;
}

.main_game{
    margin-top: 4vh;
}

.main_game div{
    text-align: center;
}

.visibility-hidden{
    visibility: hidden;
}

.left_box, .right_box{
    margin-top: 4vh;
}

#current_word{
	letter-spacing: 14px;
}

@-webkit-keyframes slam-animation {
    0% {
      opacity: 0;
        -webkit-transform: scale(10);
    }

    100% {
      opacity: 1;
        -webkit-transform: rotate(-30deg) scale(1);
    }
}

@-webkit-keyframes fadeIn-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut-animation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#footprint {
    position: absolute;
    z-index: 1;
    width: 3vw;
    top: 40%;
}

.undesirable {
    position: absolute;
    z-index: 2;
    top: 9%;
    right: 38%;

    width: 26vw;
    height: auto;
}

.invisible{
    display: none;
}

.stamp{
    -webkit-animation-name: slam-animation;
    -webkit-animation-duration: 1s;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
}

.fadeIn{
    -webkit-animation-name: fadeIn-animation;
    -webkit-animation-duration: .2s;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
}

.fadeOut{
    -webkit-animation-name: fadeOut-animation;
    -webkit-animation-duration: .2s;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
}